@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.6;
}